//-Texte de l'annonce
mj-section(background-color="#ffffff" padding="20px")
    mj-column
        mj-text(mj-class="T") Que vous envisagiez un BTS, un Bachelor ou un Mastère, à ECOSUP, nous vous offrons tout un panel de formations stimulantes et reconnues dans des domaines très attractifs : Hôtellerie/Restauration, Tourisme, Commerce/Marketing, Assurance/Banque, Santé humaine, Diététique/Nutrition, Secrétariat médical, Petite Enfance, Santé animale (supveto).
        mj-text(mj-class="T") Entre formation initiale et alternance en partenariat avec les entreprises, nous avons les réponses à vos attentes et vous offrons un encadrement de qualité.
        mj-text(mj-class="T") Samedi 25 janvier, les équipes pédagogique et administrative, les professionnels engagés à nos côtés et les étudiants seront donc heureux de partager avec vous leur expérience.
        mj-text(mj-class="T") Au programme également : visite de nos installations, informations sur nos cursus, démonstrations interactives, jeux de rôles, tests… et surtout, la garantie d'échanges enrichissants et déterminants pour votre avenir.