mj-section(background-color="#ffffff" padding="0")
    mj-column
        mj-button(vertical-align="middle" border-radius="5px" mj-class="T bg+1" color="#ffffff" href="https://ecosup-campus.com/wp-content/uploads/2024/12/e14122024.ics") #[span(style="font-weight:700;") Ajoutez à votre agenda] &nbsp;&nbsp;&nbsp;
            img(style="vertical-align:middle;" width="30px" src="https://i.ibb.co/F3gpDZ3/icon-Blanc-Calendrier.png" href="https://ecosup-campus.com/wp-content/uploads/2024/12/e14122024.ics")