//- Footer
mj-section(mj-class="bg-0" padding-bottom="40px" border-radius="0 0 20px 20px")
    //- Adresse
    mj-column(width='265px')
        mj-text(padding-top='0' padding-bottom='0' font-size='16px' font-weight='900' color="#ffffff" css-class='m-footer') ECOSUP CAMPUS
        mj-text(padding-top='0' padding-bottom='0' mj-class='T-1' color="#ffffff" css-class='m-footer') 17 Place Charles et Albert Roussel,
        mj-text(padding-top='0' padding-bottom='0' mj-class='T-1' color="#ffffff" css-class='m-footer') 59200 TOURCOING
        mj-text(padding-top='0' padding-bottom='0' mj-class='T-1' css-class='m-footer') #[a(style='font-weight:700;text-decoration:none;color:#ffffff' href='tel:0320700606') 03.20.70.06.06]
        mj-text(padding-top='0' padding-bottom='0' mj-class='T-1' css-class='m-footer') #[a(style='text-decoration:none;color:#ffffff' href='mailto:contact@ecosup-campus.fr') contact@ecosup-campus.fr]
    //- Réseaux sociaux
    mj-column(width='265px')
        mj-social(padding-top='0' padding-bottom='0' align='right' inner-padding="10px" icon-size='30px' mode='horizontal' css-class='m-footer1')
            mj-social-element(mj-class="bg+1" name='facebook' href='https://www.facebook.com/EcosupCamp')
            mj-social-element(mj-class="bg+1" name='instagram' href='https://www.instagram.com/ecosup.campus/')
            mj-social-element(mj-class="bg+1" name='linkedin' href='https://fr.linkedin.com/company/ecosup-campus')