mj-section(mj-class="bg+1" padding="0")
    mj-group
        mj-column(width="30%")
            mj-image(padding="0" border="none" src="https://i.ibb.co/M6HZFB0/img-JPO25012025.jpg")
        mj-column(width="70%")
            mj-image(padding="0" border="none" src="https://i.ibb.co/L5NQDCr/ImageG.jpg")
mj-section
    mj-column
        mj-text(mj-class="T+2")  Samedi 25 janvier à Ecosup
        mj-text(mj-class="T+3")  Rencontres d'un autre type pour que l'avenir soit entre vos mains !

