mj-section(mj-class="bg+1" padding="0")
    mj-image(padding="0" border="none" src="https://i.ibb.co/L5NQDCr/ImageG.jpg")
    mj-text(mj-class="T+2")  Samedi 25 janvier à Ecosup
    mj-text(mj-class="T+3")  Rencontres d'un autre type pour que l'avenir soit entre vos mains !

