//- Comment s'y rendre
mj-section(background-color='#dfdfdf' padding="0")
    mj-column(width="40%" vertical-align="middle")
        mj-image(padding="0" fluid-on-mobile="true" width="600px" src="https://i.ibb.co/9GXp0fS/carte-JPO14122024.jpg" href="https://www.google.com/maps/dir//+50.72123+,+3.15686" target="_blank" alt="carte des transports permettant d'aller à Ecosup Campus")
    mj-column(width='60%' vertical-align="middle")
        mj-text(mj-class='T+1 c+1' text-transform='uppercase') Comment s'y rendre ?
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') #[strong(class="c11") Accès Métro :] Ligne 2 - station Tourcoing Centre.
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') #[strong(class='c11') Accès Tramway :] Terminus Tourcoing Centre.
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') #[strong(class='c11') Accès Bus :] Gare routière de Tourcoing.
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') #[strong(class='c11') Accès Train :] Gare de Tourcoing puis station de Métro Tourcoing Centre
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') #[strong(class='c11') Accès Voiture :] Tourcoing centre.
        mj-spacer(height='10px')/