mj-section(background-color="#ffffff" padding="0")
    mj-column
        mj-button(padding="0" vertical-align="middle" border-radius="5px" mj-class="T bg+1" color="#ffffff" href="https://forms.gle/BMTNBPT9YXD7hKm27") #[span(style="font-weight:700;") Inscrivez-vous] &nbsp;&nbsp;&nbsp;
            img(style="vertical-align:middle;" width="25px" src="https://i.ibb.co/sv8kscL/inscription.png" href="https://forms.gle/BMTNBPT9YXD7hKm27")