//-formation
//-Hotellerie Restauration
mj-section(background-color="#ffffff" padding="0 20px")
    mj-column(width="25%" padding="10px")
        mj-image(align="left" padding="0" border="none" width="481px" src="https://i.ibb.co/PGNXJB4/01img-JPO14122024.jpg" alt="")
    mj-column(width="75%" padding="10px")
        mj-text(mj-class="T+1 cT+1" padding="5px 0" text-transform="uppercase") Hôtellerie / Restauration
        mj-text(mj-class="T cT+0" padding="0") #[span(style="font-weight:700;") MAN] Mise à Niveau
        mj-text(mj-class="T cT+0" padding="0") #[span(style="font-weight:700;") BTS] Management de l'Hôtellerie / Restauration
        mj-text(mj-class="T cT+0" padding="0") #[span(style="font-weight:700;") Bachelor] Chargé(e) de gestion commerciale en hôtellerie
        mj-text(mj-class='T cT+0' padding="0") #[span(style="font-weight:700;") Mastère] Manager des organisations en hôtellerie
//-Tourisme
mj-section(background-color="#ffffff" padding="0 20px")
    mj-column(width="25%" padding="10px")
        mj-image(align="left" padding="0" border="none" width="481px" src="https://i.ibb.co/3R4dfD0/03tourisme14122024.jpg" alt="")
    mj-column(width="75%" padding="10px")
        mj-text(mj-class="T+1 cT+1" padding='5px 0' text-transform="uppercase") Tourisme
        mj-text(mj-class="T cT+0" padding='0') #[span(style="font-weight:700;") BTS] Tourisme
        mj-text(mj-class="T cT+0" padding='0') #[span(style="font-weight:700;") Bachelor] Chargé(e) de gestion commerciale en tourisme
        mj-text(mj-class="T cT+0" padding="0") #[span(style="font-weight:700;") Mastère] Management stratégique des entreprises du tourisme
//-Commerce Immobilier
mj-section(background-color="#ffffff" padding="0 20px")
    mj-column(width="25%" padding="10px")
        mj-image(align="left" padding="0" border="none"  width="481px" src="https://i.ibb.co/LJcZZW5/01-Commerce14122024-02.jpg" alt="")
    mj-column(width="75%" padding="10px")
        mj-text(mj-class="T+1 cT+1" padding="5px 0" text-transform="uppercase") Commerce / Immobilier
        mj-text(mj-class="T cT+0" padding='0') #[span(style="font-weight:700;") BTS] Professions immobilières
        mj-text(mj-class="T cT+0" padding="0") #[span(style='font-weight:700;') BTS] Management commercial opérationnel
        mj-text(mj-class="T cT+0" padding="0") #[span(style="font-weight:700;") Bachelor] Responsable du Développement commercial
//-Assurance
mj-section(background-color="#ffffff" padding="0px 20px")
    mj-column(width="25%" padding="10px") 
        mj-image(align="left" padding="0" border="none" width="481px" src='https://i.ibb.co/vdr8Bs4/04assurancejpo14122024.jpg' alt="")
    mj-column(width="75%" padding="10px")
        mj-text(mj-class="T+1 cT+1" padding="5px 0" text-transform="uppercase") Assurance / Banque
        mj-text(mj-class="T cT+0" padding="0") #[span(style="font-weight:700;") BTS] Assurance
        mj-text(mj-class="T cT+0" padding="0") #[span(style="font-weight:700;") Bachelor] Chargé(e) de clientèles en Assurance et Banque
        mj-text(mj-class="T cT+0" padding="0") #[span(style="font-weight:700;") Mastère] Expert(e) en Ingénierie patrimoniale
//-Dietetique Nutrition
mj-section(background-color="#ffffff" padding="0 20px")
    mj-column(width="25%" padding="10px")
        mj-image(align="left" padding="0" border="none" width="481px" src="https://i.ibb.co/9gg9L5N/02diet-JPO14122024.jpg" alt="")
    mj-column(width="75%" padding="10px")
        mj-text(mj-class="T+1 cT+1" padding="5px 0" text-transform="uppercase") Diététique / Nutrition
        mj-text(mj-class="T cT+0" padding='0') #[span(style="font-weight:700;") BTS] Diététique Nutrition
        mj-text(mj-class="T cT+0" padding="0") #[span(style="font-weight:700;") Bachelor] Chargé(e) de projet en nutrition et de la Prise en charge des Troubles du Comportement Alimentaire (TCA)
//-Sante Humaine
mj-section(background-color="#ffffff" padding="0 20px")
    mj-column(width="25%" padding="10px")
        mj-image(align="left" padding="0" border="none" width="481px" src="https://i.ibb.co/Q6Fg7VW/02sm14122024.jpg" alt="")
    mj-column(width="75%" padding="10px")
        mj-text(mj-class="T+1 cT+1" padding="5px 0" text-transform="uppercase") Santé Humaine
        mj-text(mj-class="T cT+0" padding="0") Secrétaire médical(e)
        mj-text(mj-class="T cT+0" padding="0") #[span(style="font-weight:700") AEPE] Accompagnant(e) Éducatif Petite Enfance
//-Supveto
mj-section(background-color="#ffffff" padding="0 20px")
    mj-column(width="25%" padding="10px")
        mj-image(align="left" padding="0" border="none" width="481px" src="https://i.ibb.co/8DhSw8c/02supveto14122024.jpg" alt="")
    mj-column(width='75%' padding="10px")
        mj-text(mj-class="T+1 cT+1" padding='5px 0' text-transform="uppercase") Supveto
        mj-text(mj-class="T cT+0" padding-left="0px" padding-right='0' padding-top="0" padding-bottom="0") #[span(style="font-weight:700") ASV] Auxiliaire de Service Vétérinaire
        mj-text(mj-class="T cT+0" padding="0") #[span(style="font-weight:700") Bachelor] Chargé(e) de gestion et management en structure animalière