mj-section(padding="0")
    mj-group(width="50%")
        mj-column(width="33.333333%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/Tkb0tF0/assColor.jpg" alt="bandeau de couleur Ecosup Assurance")
        mj-column(width="33.333334%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/1nKQ43L/01tourisme14122024.jpg")
        mj-column(width="33.333333%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/ByYR1pn/comColor.jpg")
    mj-group(width="50%")
        mj-column(width="33.333333%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/XSNX6Fb/comPhoto.jpg")
        mj-column(width="33.333334%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/WtQ7Rvr/diet-Photo.jpg")
        mj-column(width="33.333333%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/nPZTFz2/diet-Color.jpg")
mj-section(padding="0")
    mj-group(width="50%")
        mj-column(width="33.333333%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/M6HZFB0/img-JPO25012025.jpg")
        mj-column(width="33.333334%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/sCjSDRv/tour-Color.jpg" alt="bandeau de couleur Ecosup Tourisme")
        mj-column(width="33.333333%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/1nKQ43L/01tourisme14122024.jpg" alt="groupe d'étudiants accompagné par un intervenant")
    mj-group(width="50%")
        mj-column(width="33.333333%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/17xBn5w/supveto-Color.jpg" alt="bandeau de couleur Supveto")
        mj-column(width="33.333334%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/6FpWHKY/supveto-Photo.jpg" alt='Auxiliaire de service vétérinaire se faisant lècher par son chien')
        mj-column(width="33.333333%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/M6HZFB0/img-JPO25012025.jpg" alt="affiche de la JPO du 25 janvier 2025 de 9h30 à 17h")
mj-section(padding="0")
    mj-group(width="50%")
        mj-column(width="33.333333%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/M83Pf48/hot-Photo1.jpg")
        mj-column(width="33.333334%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/L51Wcyw/hot-Photo2.jpg")
        mj-column(width="33.333333%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/h9QwzXQ/hotColor.jpg")
    mj-group(width="50%")
        mj-column(width="33.333333%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/YkrNm2c/supveto.gif")
        mj-column(width="33.333334%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/Th0Y7R9/smPhoto.jpg")
        mj-column(width="33.333333%")
            mj-image(padding="1px" border="none" fluid-on-mobile="true" width="160px" src="https://i.ibb.co/4j8Lvfr/petit-Enfance.jpg")
mj-section(background-color="#ffffff" padding="0 30px")
    mj-column(width="80%")
        mj-text(mj-class="T+2 ct+1" padding="20px 0 3px 0") JPO Samedi 25 janvier à Ecosup
        mj-text(mj-class="T+3 cT+1" padding="0") Rencontres d'un autre type pour que l'avenir soit entre vos mains !

