mj-section(mj-class="bg+1" padding="0")
    mj-group(width="50%")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" fluid-on-mobile="true" src="https://i.ibb.co/M6HZFB0/img-JPO25012025.jpg")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" fluid-on-mobile="true" src="https://i.ibb.co/1nKQ43L/01tourisme14122024.jpg")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" fluid-on-mobile="true" src="https://i.ibb.co/ynypBPm/03sm14122024.jpg")
    mj-group(width="50%")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" fluid-on-mobile="true" src="https://i.ibb.co/M6HZFB0/img-JPO25012025.jpg")
        mj-column(width="33.333333%")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" fluid-on-mobile="true" src="https://i.ibb.co/L5NQDCr/ImageG.jpg")
mj-section(mj-class="bg+1" padding="0")
    mj-group(width="50%")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" src="https://i.ibb.co/M6HZFB0/img-JPO25012025.jpg")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" src="https://i.ibb.co/1nKQ43L/01tourisme14122024.jpg")
        mj-column(width="33.333333%")
    mj-group(width="50%")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" src="https://i.ibb.co/M6HZFB0/img-JPO25012025.jpg")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" src="https://i.ibb.co/L5NQDCr/ImageG.jpg")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" src="https://i.ibb.co/L5NQDCr/ImageG.jpg")
mj-section(mj-class="bg+1" padding="0")
    mj-group(width="50%")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" src="https://i.ibb.co/M6HZFB0/img-JPO25012025.jpg")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" src="https://i.ibb.co/1nKQ43L/01tourisme14122024.jpg")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" src="https://i.ibb.co/L5NQDCr/ImageG.jpg")
    mj-group(width="50%")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" src="https://i.ibb.co/M6HZFB0/img-JPO25012025.jpg")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" src="https://i.ibb.co/L5NQDCr/ImageG.jpg")
        mj-column(width="33.333333%")
            mj-image(padding="0" border="none" src="https://i.ibb.co/L5NQDCr/ImageG.jpg")
mj-section(background-color="#ffffff" padding="0 30px")
    mj-column(width="80%")
        mj-text(mj-class="T+2 ct+1" padding="20px 0 3px 0") Samedi 25 janvier à Ecosup
        mj-text(mj-class="T+3 cT+1" padding="0") Rencontres d'un autre type pour que l'avenir soit entre vos mains !

