//- Comment s'y rendre
mj-section(background-color='#dfdfdf' padding="20px 20px 0 20px")
    mj-column(width="40%" padding="10px" vertical-align="middle")
        mj-image(padding="0" border-right="2px solid #9d9d9d" border-bottom="2px solid #9d9d9d" fluid-on-mobile="true" width="600px" src="https://i.ibb.co/9GXp0fS/carte-JPO14122024.jpg" href="https://www.google.com/maps/dir//+50.72123+,+3.15686" target="_blank" alt="carte des transports permettant d'aller à Ecosup Campus")
    mj-column(width='60%' padding="10px" vertical-align="middle")
        mj-text(mj-class='T+1 c+1' text-transform='uppercase') Comment s'y rendre ?
        mj-text(padding='0' mj-class='T cT+1') #[strong(class="c11") Accès Métro :] Ligne 2 - station Tourcoing Centre.
        mj-text(padding='0' mj-class='T cT+1') #[strong(class='c11') Accès Tramway :] Terminus Tourcoing Centre.
        mj-text(padding='0' mj-class='T cT+1') #[strong(class='c11') Accès Bus :] Gare routière de Tourcoing.
        mj-text(padding='0' mj-class='T cT+1') #[strong(class='c11') Accès Train :] Gare de Tourcoing puis station de Métro Tourcoing Centre
        mj-text(padding='0' mj-class='T cT+1') #[strong(class='c11') Accès Voiture :] Tourcoing centre.
        mj-spacer(height='10px')/
mj-section(background-color="#dfdfdf" padding="10px 30px 30px 30px")
    mj-column
        mj-button(align="center" vertical-align="middle" border-radius="5px" mj-class="T bg+1" color="#ffffff" href="https://www.google.com/maps/dir//+50.72123+,+3.15686") #[span(style="font-weight:700;") Préparez votre itinéraire] &nbsp;&nbsp;&nbsp;
            img(style="vertical-align:middle;" width="25px" src="https://i.ibb.co/YRrs7gw/itineraire.png" href="https://www.google.com/maps/dir//+50.72123+,+3.15686")