//-Texte de l'annonce
mj-section(background-color="#ffffff" padding-top="10px" padding-bottom="20px" padding-left="30px" padding-right="30px")
    mj-column(width="80%")
        mj-text(mj-class="T cT+0" padding="5px 0") Que vous envisagiez une #[span(style="font-weight:700;color:#14141f;") formation métier], un #[span(style="font-weight:700;color:#14141f;") BTS], un #[span(style="font-weight:700;color:#14141f") Bachelor] ou un #[span(style="font-weight:700;color:#14141f") Mastère], à ECOSUP Campus, nous vous offrons tout un panel de formations stimulantes et reconnues dans des domaines très attractifs :
        mj-text(mj-class="T+1 cT+1" padding-top="0" padding-bottom="0" padding-left="15px" padding-right="0") - Hôtellerie / Restauration,
        mj-text(mj-class="T+1 cT+1" padding-top="0" padding-bottom="0" padding-left="15px" padding-right="0") - Tourisme,
        mj-text(mj-class="T+1 cT+1" padding-top="0" padding-bottom="0" padding-left="15px" padding-right="0") - Assurance / Banque,
        mj-text(mj-class="T+1 cT+1" padding-top="0" padding-bottom="0" padding-left="15px" padding-right="0") - Diététique / Nutrition 
        mj-text(mj-class="T+1 cT+1" padding-top="0" padding-bottom="0" padding-left="15px" padding-right="0") - Secrétariat médical, 
        mj-text(mj-class="T+1 cT+1" padding-top="0" padding-bottom="0" padding-left="15px" padding-right="0") - Petite Enfance,
        mj-text(mj-class="T+1 cT+1" padding-top="0" padding-bottom="0" padding-left="15px" padding-right="0") - Santé animale (supveto).
        mj-text(mj-class="T cT+0" padding="5px 0") Entre #[span(style="font-weight:700;color:#14141f") formation initiale et alternance] en partenariat avec les entreprises, nous avons les réponses à vos attentes et vous offrons un #[span(style="font-weight:700;color:#14141f;") encadrement de qualité].
        mj-text(mj-class="T cT+0" padding="5px 0") #[span(style="font-weight:700;color:#c31718") Samedi 25 janvier de 9h30 à 17h], les équipes pédagogique et administrative, les professionnels engagés à nos côtés et les étudiants seront donc heureux de partager avec vous leur expérience.
        mj-text(mj-class="T cT+0" padding="5px 0") #[span(style="font-weight:700;color:#14141f;") Au programme également :] visite de nos installations, informations sur nos cursus, démonstrations interactives, jeux de rôles, tests… et surtout, la #[span(style="font-weight:700;color:#14141f") garantie d'échanges enrichissants et déterminants] pour votre avenir.