//- Comment s'y rendre
mj-section(background-color='#dfdfdf' padding="20px 20px 40px 20px")
    mj-column(width="280px" vertical-align="middle")
        mj-image(padding="20px" width="480px" src="images/CarteTourcoing.jpg" href="https://www.google.com/maps/dir/+50.72123+,+3.15686/" target="_blank" alt="carte des transports permettant d'aller à Ecosup Campus")
        mj-button(css-class="hover" padding="0" vertical-align="middle" border-radius="5px" mj-class="T bg+1" color="#ffffff" href="https://www.google.com/maps/dir/+50.72123+,+3.15686/") #[span(style="font-weight:700;") Préparez votre itinéraire] &nbsp;&nbsp;&nbsp;
            img(style="vertical-align:middle;" width="25px" src="images/itineraire.png" href="https://www.google.com/maps/dir/+50.72123+,+3.15686/" alt="icon itinéraire")
        mj-spacer(height="20px")
    mj-column(width='240px' vertical-align="middle")
        //- Réseaux sociaux
        mj-social(padding-top='0' padding-bottom='0' align='center' inner-padding="10px" icon-size='30px' mode='horizontal' css-class='m-footer1')
            mj-social-element(mj-class="bg+1" name='facebook' href='https://www.facebook.com/EcosupCamp')
            mj-social-element(mj-class="bg+1" name='instagram' href='https://www.instagram.com/ecosup.campus/')
            mj-social-element(mj-class="bg+1" name='linkedin' href='https://fr.linkedin.com/company/ecosup-campus')
        mj-spacer(height="20px")
        //-Adresse
        mj-image(align="center" padding="0" border="none" width="160px" src="images/ecosupCampus.png" alt="logo Ecosup Campus sans la baseline")
        mj-text(align="center" padding='0' mj-class='T-1 cT+1') 17 Place Charles et Albert Roussel,
        mj-text(align="center" padding='0' mj-class='T-1 cT+1') 59200 TOURCOING
        mj-text(align="center" padding='0' mj-class='T-1 cT+1') #[a(style='font-weight:700;text-decoration:none;color:#14141f' href='tel:0320700606') 03.20.70.06.06]
        mj-text(align="center" padding='0' mj-class='T-1 cT+1') #[a(style='text-decoration:none;color:#14141f' href='mailto:contact@ecosup-campus.fr') contact@ecosup-campus.fr]
        mj-text(align="center" padding='0' mj-class='T-1 cT+1') #[a(style='font-weight:700;text-decoration:none;color:#14141f' href='https://ecosup-campus.com') www.ecosup-campus.fr]
        mj-spacer(height='20px')