//-formation
//-Hotellerie Restauration
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" width="481px" src="images/01hotellerie.jpg" alt="formation de l'Hôtellerie et de la restauration : élaboration d'un plat gastronomique")
    mj-column(width="50%" vertical-align="middle")
        mj-image(align="left" padding-bottom="0" border="none" width="100px" src="images/logoEHotellerie.png" alt='logo Ecosup Hôtellerie')
        mj-text(mj-class="T+2 cT+1" padding-bottom="0" letter-spacing='-1px') Hôtellerie / Restauration
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style="font-weight:700;color:#14141f;") MAN] Mise à Niveau,
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style="font-weight:700;color:#14141f;") BTS] Management de l'Hôtellerie / Restauration,
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style="font-weight:700;color:#14141f;") Bachelor] Chargé(e) de gestion commerciale en hôtellerie,
        mj-text(mj-class='T cT+0' padding="0 25px") #[span(style="font-weight:700;color:#14141f;") Mastère] Manager des organisations en hôtellerie.
        mj-spacer(css-class="espace")
//-Tourisme
mj-section(background-color="#ffffff" padding="0" direction="rtl")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" width="481px" src="images/02tourisme.jpg" alt="formation du Tourisme : mappemonde, boussole et avion.")
    mj-column(width="50%" vertical-align="middle")
        mj-image(align="left" padding-bottom="0" border="none" width="100px" src="images/logoETourisme.png" alt='logo Ecosup Tourisme')
        mj-text(mj-class="T+2 cT+1" padding-bottom='0') Tourisme
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style="font-weight:700;color:#14141f;") BTS] Tourisme,
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style="font-weight:700;color:#14141f;") Bachelor] Chargé(e) de gestion commerciale en tourisme,
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style="font-weight:700;color:#14141f;") Mastère] Management stratégique des entreprises du tourisme.
        mj-spacer(css-class="espace")
//-Commerce Immobilier
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" width="481px" src="images/03commerce.jpg" alt="formation commerce marketing : chiffres et études sur le marché et son évolution")
    mj-column(width="50%" vertical-align="middle")
        mj-image(align="left" padding-bottom="0" border="none" width="100px" src="images/logoECommerce.png" alt='logo Ecosup Commerce')
        mj-text(mj-class="T+2 cT+1" padding-bottom="0" letter-spacing="-1px") Commerce / Immobilier
        mj-text(mj-class="T cT+0" padding='0 25px') #[span(style="font-weight:700;color:#14141f;") BTS] Professions immobilières,
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style='font-weight:700;color:#14141f;') BTS] Management commercial opérationnel,
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style="font-weight:700;color:#14141f;") Bachelor] Responsable du Développement commercial.
        mj-spacer(css-class="espace")
//-Assurance
mj-section(background-color="#ffffff" padding="0" direction="rtl")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef") 
        mj-image(padding="0" border="none" width="481px" src='images/04assurance.jpg' alt="formation de l'assurance : protection de la famille.")
    mj-column(width="50%" vertical-align="middle")
        mj-image(align="left" padding-bottom="0" border="none" width="100px" src="images/logoEAssurance.png" alt='logo Ecosup Assurance')
        mj-text(mj-class="T+2 cT+1" padding-bottom="0") Assurance / Banque
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style="font-weight:700;color:#14141f;") BTS] Assurance,
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style="font-weight:700;color:#14141f;") Bachelor] Chargé(e) de clientèles en Assurance et Banque,
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style="font-weight:700;color:#14141f;") Mastère] Expert(e) en Ingénierie patrimoniale.
        mj-spacer(css-class="espace")
//-Dietetique Nutrition
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" width="481px" src="images/05dietetique.jpg" alt="formation de la diététique : balance et mètre de couturière.")
    mj-column(width="50%" vertical-align="middle")
        mj-image(align="left" padding-bottom="0" border="none" width="100px" src="images/logoEDietetique.png" alt='logo Ecosup Diététique')
        mj-text(mj-class="T+2 cT+1" padding-bottom="0") Diététique / Nutrition
        mj-text(mj-class="T cT+0" padding='0 25px') #[span(style="font-weight:700;color:#14141f;") BTS] Diététique Nutrition,
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style="font-weight:700;color:#14141f;") Bachelor] Chargé(e) de projet en nutrition et de la Prise en charge des Troubles du Comportement Alimentaire (TCA).
        mj-spacer(css-class="espace")
//-Sante Humaine
mj-section(background-color="#ffffff" direction="rtl" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" width="481px" src="images/06sante.jpg" alt="formation secrétaire médicale : dactylographie et prise de note")
    mj-column(width="50%" vertical-align="middle")
        mj-image(align="left" padding-bottom="0" border="none" width="100px" src="images/logoESante.png" alt='logo Ecosup Santé')
        mj-text(mj-class="T+2 cT+1" padding-bottom="0") Santé Humaine
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style="font-weight:700;color:#14141f;") SM] Secrétaire médical(e),
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style="font-weight:700;color:#14141f;") AEPE] Accompagnant(e) Éducatif Petite Enfance.
        mj-spacer(css-class="espace")
//-Supveto
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="50%" vertical-align="middle" background-color="#efefef")
        mj-image(padding="0" border="none" width="481px" src="images/07supveto.jpg" alt="formation supvéto : soins aux animaux exotiques")
    mj-column(width='50%' vertical-align="middle")
        mj-image(align="left" padding-bottom="0" border="none" width="100px" src="images/supvetoLogo.png" alt='logo Supveto école des métiers de la santé animale')
        mj-text(mj-class="T+2 cT+1" padding-bottom='0') Santé animale
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style="font-weight:700;color:#14141f;") ASV] Auxiliaire de Service Vétérinaire,
        mj-text(mj-class="T cT+0" padding="0 25px") #[span(style="font-weight:700;color:#14141f;") Bachelor] Chargé(e) de gestion et management en structure animalière.
        mj-spacer(css-class='espace')