mj-section(background-color="#ffffff" padding="0")
        mj-column(width="30%")
            mj-image(padding="0" border="none" fluid-on-mobile="true" width="480px" src="images/afficheJPO012025.jpg" alt="affiche de la Journée Portes Ouvertes du 25 janvier 2025 de 9h30 à 17h")
        mj-column(width="70%")
            mj-image(padding="0" border="none" fluid-on-mobile="true" width="420px"  src="images/ImgGroupEtudiants.jpg" alt="groupe d'étudiants")
mj-section(background-color="#ffffff" padding-top="5px" padding-bottom="0px" padding-left="30px" padding-right="30px")
    mj-column(width="80%")
        mj-text(mj-class="T+2 cT+0" padding="5px 0" letter-spacing="-1px") JPO Samedi 25 janvier à ECOSUP Campus
        mj-text(mj-class="T+3 cT+1" padding="0px") Gagnez en Compétences !

