-
    const logosList1 = [
        {
            'image':'images/qualiopi.png',
            'alt':'logo Qualiopi, actions de formation et actions de formation en apprentissage'
        },
        {
            'image':'images/rncp.png',
            'alt':'logo France Compétences certification enregistrée au RNCP'
        }
    ]
-
    const logosList2 = [
        {
            'image':'images/parcoursPrive.png',
            'alt':'logo Parcours Privé'
        },
        {
            'image':'images/kalysco.png',
            'alt':'logo Kalysco les écoles éthiques'
        }
    ]
mj-section(background-color="#ffffff" padding="20px") 
    mj-group(width="50%")
        each logo in logosList1
            mj-column(width="50%" padding="10px" vertical-align="middle")
                mj-image(padding="0" border="none" width="150px" src=logo.image alt=logo.alt)/ 
    mj-group(width="50%")
        each logo in logosList2
            mj-column(width="50%" padding="10px" vertical-align="middle")
                mj-image(padding="0" border="none" width="150px" src=logo.image alt=logo.alt)/ 