mjml
    //- Head
    mj-head
        mj-title Email Etudiant 2025
        mj-font(name='Roboto' href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap')
        mj-raw.
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='Roboto, Arial, Helvetica,sans serif')/
            mj-class(name='T+3' font-family="Roboto, Arial, Helvetica, sans-serif" font-size='36px' line-height='36px' font-weight='900')/
            mj-class(name='T+2' font-family="Roboto, Arial, Helvetica, sans-serif" font-size='24px' line-height='28px' font-weight='700')/
            mj-class(name='T+1' font-family="Roboto, Arial, Helvetica, sans-serif" font-size='16px' line-height='20px' font-weight='700')/
            mj-class(name='T' font-family="Roboto, Arial, Helvetica, sans-serif" font-size='16px' line-height='20px' font-weight="400")/
            mj-class(name='T-1' font-family="Roboto, Arial, Helvetica, sans-serif" font-size='13px' line-height='15px' font-weight="400")/
            mj-class(name='T-2' font-family="Roboto, Arial, Helvetica, sans-serif" font-size='12px' line-height='16px' font-weight="400")/
            mj-class(name='L' align="left" border-style="solid" border-width="0.75px" width="80px" padding="10px 0")
            //- couleurs modifiables
            mj-class(name="cT+1" color="#14141f" border-color="#14141f")/
            mj-class(name="cT+0" color="#626262")/
            mj-class(name="c-0" color="#c31718")/
            mj-class(name="bg-0" background-color="#c31718")/
            mj-class(name="c+1" color="#a01a1d")/
            mj-class(name="bg+1" background-color="#a01a1d")/
        mj-breakpoint(width="480px")
        mj-style.
            .c11{
                color: #a01a1d !important;
            }
            .cT00{
                color: #626262 !important;
            }

            @media(max-width:480px){
                .m-footer div{
                    text-align: center !important;
                    width: 100% !important;
                }
                .m-footer1 {
                    text-align: center !important;
                    width: 100% !important;
                    padding-top:10px !important;
                }
                .stop{
                    display: none !important;
                }
            }
    //- Body
    mj-body(background-color='#efefef')
        //- content
        block content
        mj-section(mj-class="bg+1" border-radius="3px 3px 0 0" padding="20px 30px")
            mj-column
                mj-image(align="left" padding="0" border="none" width="120px" src="https://i.ibb.co/8K8y4kW/ECOSUP-CAMPUS-Blanc012024.png" alt="logo Ecosup Campus")
        //- bloc header
        block header
            include ../includes/projet-2/_header
        //- bloc text argumentaires
        block argumentaires
            include ../includes/projet-2/_argumentaires
        //- bloc button
        block button
            include ../includes/projet-2/_button
        mj-section(background-color="#ffffff" padding="0")
            mj-column
                mj-spacer(height="30px")
        //- bloc formations
        block formations
            include ../includes/projet-2/_formations
        mj-section(background-color="#ffffff" padding="0")
            mj-column
                mj-spacer(height="20px")
        //- bloc syrendre
        block transport
            include ../includes/projet-2/_transport
        //- bloc partenaires
        block logos
            include ../includes/projet-2/_logos
        //- bloc footer
        block footer
            include ../includes/projet-2/_footer