extends templates/_layout
block content
    //- section Reglement
        mj-section(padding='0')
        mj-column
            mj-text(align="center" mj-class='T-2 cT+0') Si vous ne parvenez pas à lire cet e-mail, cliquez #[a(style='text-decoration:none;text-transform:uppercase;' class="c11" href='{{ mirror }}') ici]
